{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>instaclone</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/detail-page.css' %}">
    <link rel="stylesheet" href="{% static 'css/login' %}">
    <link rel="stylesheet" href="{% static 'css/new_post.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'imgs/instagram.png' %}">

    {% block head %}
    {% endblock %}
</head>
<body>
<section id="container">
    <header id="header">
        <section class="h_inner">
            <h1 class="logo">
                <div class="sprite_insta_icon"></div>
                <div>
                    <div class="sprite_write_logo"></div>
                </div>
            </h1>
            <div class="search_box">
                <input type="text" placeholder="검색" tabindex="0" id="search-field">
                <div class="fake_field">
                    <span class="sprite_small_search_icon"></span>
                    <span>검색</span>
                </div>
            </div>
            <div class="right_icons">
                <div class="sprite_camera_icon"><a href="#"></a></div>
                <div class="sprite_compass_icon"><a href="#"></a></div>
                <div class="sprite_heart_icon_outline"><a href="#"></a></div>
                <div class="sprite_user_icon_outline"><a href="#"></a></div>
            </div>
        </section>
    </header>
    {% block content %}
    {% endblock %}
</section>
</body>
</html>